<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="WebServicePassword" value="m0n3yb@gs.mate!"/>
		<add key="InzoneSync.syncronisation" value="http://newadmin.inzone.co.nz/syncronisation.asmx"/>
	</appSettings>
	<connectionStrings>
		<add name="InZoneConnectionString" connectionString="Data Source=172.16.30.1;Initial Catalog=InzoneMirror;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=ypg834y;MultipleActiveResultSets=True;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
		<add name="InZoneMirrorConnectionString" connectionString="Data Source=172.16.30.1;Initial Catalog=InzoneMirror;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=ypg834y;MultipleActiveResultSets=True;Max Pool Size=1000;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="2071151"/>
		<sessionState timeout="15"/>
		<customErrors mode="Off"/>
		<compilation debug="true" defaultLanguage="c#"/>
		<authentication mode="Windows"/>
		<webServices>
			<conformanceWarnings>
				<remove name="BasicProfile1_1"/>
			</conformanceWarnings>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
				<add name="HttpPostLocalhost"/>
				<add name="HttpSoap"/>
			</protocols>
		</webServices>
	</system.web>
</configuration>
