vti_encoding:SR|utf8-nl
vti_author:SR|WBS0030\\Administrator
vti_modifiedby:SR|WBS0030\\Administrator
vti_timelastmodified:TR|08 Mar 2010 02:10:44 -0000
vti_timecreated:TR|08 Mar 2010 02:10:44 -0000
vti_cacheddtm:TX|08 Mar 2010 02:10:44 -0000
vti_filesize:IR|1758
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{0659AE78-4216-4FAE-B08F-3E7F630F2C5E}
vti_backlinkinfo:VX|
