vti_encoding:SR|utf8-nl
vti_author:SR|WBS0030\\Administrator
vti_modifiedby:SR|WBS0030\\Administrator
vti_timelastmodified:TR|11 Sep 2009 01:13:02 -0000
vti_timecreated:TR|20 Nov 2008 02:56:35 -0000
vti_lineageid:SR|{74533C42-0D0B-4ECE-B4F4-4D1350F9ABF5}
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|11 Sep 2009 01:12:41 -0000
vti_cacheddtm:TX|11 Sep 2009 01:13:02 -0000
vti_filesize:IR|9147
